$primary: hsl(25, 97%, 53%);

$white: hsl(0, 0%, 100%);
$light: hsl(217, 12%, 63%);
$medium: hsl(216, 12%, 54%);
$dark: hsl(213, 19%, 18%);
$verydark: hsl(216, 12%, 8%);

$top_gradient: #222933;
$bottom_gradient: #171e28;

html, body {
  margin: 0;
}

body {
  background-color: $verydark;
  color: $light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 480px) {
    min-height: 100vh;
  }
}

.card {
  background-color: $dark;
  background: radial-gradient(circle at top, $top_gradient 0%, $bottom_gradient 100%);
  padding: 24px;
  padding-bottom: 32px;
  margin: 32px 24px;
  border-radius: 28px;
  max-width: 330px;
  
  @media screen and (min-width: 480px) {
    box-sizing: border-box;
    padding: 32px;
    max-width: 410px;
  }
}

.card--center {
  text-align: center;
}

.card__star {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $dark;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 14px;
  }

  @media screen and (min-width: 480px) {
    width: 46px;
    height: 46px;

    img {
      width: 16px;
    }
  }
}

.card__star--spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

.card__heading {
  color: $white;
  font-family: 'Overpass', sans-serif;
  font-size: 24px;
  margin-top: 19px;
  margin-bottom: 0;

  @media screen and (min-width: 480px) {
    margin-top: 32px;
    font-size: 28px;
  }
}

.card__body {
  font-family: 'Overpass', sans-serif;
  font-size: 14px;
  line-height: 22px;
  margin-top: 12px;
  margin-bottom: 0;

  @media screen and (min-width: 480px) {
    font-size: 15px;
  }
}

.card__info-image {
  display: block;
  margin: auto;
  margin-top: 8px;
  width: 146px;
  
  @media screen and (min-width: 480px) {
    margin-top: 10px;
    width: 162px;
  }
}

.card__info {
  font-family: 'Overpass', sans-serif;
  font-size: 14px;
  display: inline-block;
  background-color: $dark;
  color: $primary;
  min-height: 32px;
  line-height: 32px;
  border-radius: 16px;
  padding: 0 16px;
  margin-top: 24px;

  @media screen and (min-width: 480px) {
    font-size: 15px;
    margin-top: 32px;
  }
}

.card__radios {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  animation: none;
}

.card__radios--alert {
  animation: shake 300ms linear;
}

@keyframes shake {
  0% { transform: translate(0); }
 12% { transform: translate(10px); }
 37% { transform: translate(-10px); }
 62% { transform: translate(10px); }
 75% { transform: translate(-10px); }
100% { transform: translate(0); }
}

.card__radio {
  display: none;
}

.card__radio-label {
  cursor: pointer;
  font-family: 'Overpass', sans-serif;
  font-size: 14px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $dark;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 480px) {
    width: 51px;
    height: 51px;
  }
  
  &:hover {
    background: $medium;
    color: $white;
  }
}

.card__radio:checked + .card__radio-label {
	background: $primary;
  color: $white;
}

.card__submit {
  cursor: pointer;
  font-family: 'Overpass', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  color: $white;
  text-transform: uppercase;
  background-color: $primary;
  display: block;
  width: 100%;
  height: 44px;
  border-radius: 22px;
  border-width: 0;
  margin-top: 24px;

  &:hover {
    color: $primary;
    background-color: $white;
  }

  &:disabled {
    background-color: $dark;
    color: $medium;
  }

  @media screen and (min-width: 480px) {
    margin-top: 32px;
  }
}

#thankyou-page {
  display: none;
}

.attribution {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  text-align: center;
  font-family: 'Overpass', sans-serif;
  height: 20px;
  margin: 24px;
}

.attribution a {
  color: $light;
  &:hover {
    color: $white;
  }
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}